@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
}
